/**
* @project: It Manager - https://it-infrastructure-manager.onrender.com
* @author: Obrymec - obrymecsprinces@gmail.com
* @fileoverview: Crud view stylesheet.
* @created: 2021-12-17
* @updated: 2024-04-07
* @file: crud_view.css
* @supported: DESKTOP
* @version: 0.0.2
*/

/* Crud view header */
div.crud-header {
	box-shadow: 0 2px 3px var(--grey);
	background-color: var(--silver);
	transition: margin-top 0.3s;
	padding: 8px 10px 8px 10px;
	align-items: center;
	position: relative;
	margin-top: -47px;
	display: flex;
	gap: 20px;
	right: 0;
	left: 0;
	top: 0;
}

/* Search field container */
div.search-field {
	display: flex;
	width: 100%;
}

/* Search field container hover */
div.search-field:hover > div.field-clear > svg {
	visibility: visible;
}

/* Searcher icon */
div.searcher {
	position: absolute;
	margin-left: 8px;
	margin-top: 5px;
}

/* Search input field */
div.search-field > input[type="text"] {
	box-shadow: inset 0 2px 2.5px var(--grey);
	padding: 5px 32px 5px 35px;
	transition: color 0.4s;
	font-family: verdana;
	border-radius: 30px;
	font-weight: normal;
	font-size: 14px;
	outline: none;
	border: none;
	height: 20px;
	width: 97%;
}

/* Search input hover */
div.search-field > input[type="text"]:hover {
	color: var(--primary-900);
	font-weight: bold;
}

/* Search input field placeholder */
div.search-field > input[type="text"]::placeholder {
	transform: translateY(1px);
	color: var(--silver);
	font-style: italic;
	user-select: none;
}

/* Clear field icon */
div.field-clear {
	transform: translateX(-28px);
	margin-right: -10px;
	margin-top: 6px;
}

/* Real icon design */
div.field-clear > svg {
	position: absolute;
	visibility: hidden;
	cursor: pointer;
}

/* Total item count */
div.item-count {
	background-color: var(--grey-800);
	text-shadow: 0 0 3px var(--white);
	padding: 4px 8px 4px 8px;
	border-radius: 25px;
	color: var(--white);
	text-align: center;
	font-size: 16px;
}

/* Total item count hover */
div.item-count > label {
	transform: translate(1px, 0.4px);
	display: inline-block;
}

/* Adder, move up and move down icons containers */
div.ari, div.mui, div.mdi, div.shi, div.rfi {
	background-color: var(--white-600);
	border: 1px ridge var(--silver);
	padding: 2px 6px 6px 2px;
	border-radius: 40px;
	cursor: pointer;
	height: 30px;
	width: 30px;
}

/* Main option: add, search and refresh */
div.ar, div.sh, div.rf {
	margin-top: -1px;
}

/* Adder icon container */
div.ari {
	animation: 3s container_bloom 1s backwards;
  animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

/* Adder icon container hover */
div.ari:hover, div.shi:hover, div.rfi:hover {
	border-color: var(--primary-900);
}

/* Move up and down icon container */
div.mu, div.md {
	transition-property: transform, opacity, box-shadow;
	transition-duration: 0.3s;
	visibility: hidden;
	opacity: 0;
}

/* Move up icon container */
div.mu {
	transform: translate(20px, -100px);
}

/* Move down icon container */
div.md {
	transform: translate(-20px, -100px);
}

/* Move up icon container hover */
div.mu > div.mui:hover, div.md > div.mdi:hover {
	box-shadow: 0 0 6px var(--primary-900);
}

/* Adder icon hover */
div.ari:hover > svg > g > line.cls-2, div.shi:hover > svg {
	stroke: var(--primary-900);
}

/* Refresh icon hover */
div.rfi:hover > svg {
	fill: var(--primary-900);
}

/* Move up icon hover */
div.mui:hover > a > svg {
	fill: var(--primary-900);
}

/* Move up icon hover */
div.mdi:hover > a > svg {
	fill: var(--primary-900);
}

/* Adder icon */
div.ari > svg {
	transform: translate(-2.5px, -2.5px);
	cursor: pointer;
}

/* Searcher icon */
div.shi > svg {
	transform: translate(4.5px, 4.5px);
}

/* Refresh icon */
div.rfi > svg {
	transform: translate(7px, 7px);
}

/* Move up icon */
div.mui > a > svg {
	transform: translate(3px, 3px);
}

/* Move up icon */
div.mdi > a > svg {
	transform: rotate(180deg) translate(-3px, -5px);
}

/* Crud view content */
div.crud-content {
	scroll-behavior: smooth;
	flex-direction: column;
	overflow-y: auto;
	display: flex;
	height: 100%;
}

/* Crud view toolbar */
div.crud-toolbar {
	animation: 0.3s crud_view 0ms forwards;
	box-shadow: 0 0 6px var(--black);
	background-color: var(--silver);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	transition: width 0.4s;
	display: inline-flex;
	padding-bottom: 5px;
	align-items: center;
	padding-left: 10px;
	position: relative;
	padding-top: 6px;
	bottom: -55px;
	z-index: 1;
}

/* Main options */
div.main-options {
	display: inline-flex;
	width: 100%;
	gap: 10px;
}
