/**
* @project: It Manager - https://it-infrastructure-manager.onrender.com
* @fileoverview: The base stylesheet of all components.
* @author: Obrymec - obrymecsprinces@gmail.com
* @created: 2021-12-17
* @updated: 2024-04-07
* @supported: DESKTOP
* @file: index.css
* @version: 0.0.2
*/

/* Body basics style configurations */
body {
	background-color: var(--white-700);
	overflow: hidden;
	padding: 0;
	margin: 0;
}

/* Buttons basics design configurations */
input[type="button"], button {
	user-select: none;
	cursor: pointer;
	outline: none;
	border: none;
}

/* Fixed element */
.fixed {
	position: fixed;
	z-index: 0;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}

/* Basic center design */
.center {
	transform: translate(-50%, -50%);
	position: absolute;
	left: 50%;
	top: 50%;
}

/* Label basics style configurations */
label {
	letter-spacing: 1.5px;
	user-select: none;
}

/* Vertical flex box */
.vflex {
	flex-direction: column;
	display: flex;
	height: 100%;
}

/* Centered graphic message */
.grc-msg {
	font-family: verdana;
	color: var(--grey);
	font-size: 17px;
}
