/**
* @project: It Manager - https://it-infrastructure-manager.onrender.com
* @fileoverview: Tabcontrol component stylesheet.
* @author: Obrymec - obrymecsprinces@gmail.com
* @file: tabcontrol.css
* @created: 2021-12-17
* @updated: 2024-05-19
* @supported: DESKTOP
* @version: 0.0.3
*/

/* Tab control header */
div.tab-header {
	animation: 0.5s tabcontrol 0ms forwards;
	justify-content: flex-end;
	padding: 0 10px 0 10px;
	display: inline-flex;
	align-items: center;
	position: relative;
	top: -100%;
	gap: 25px;
	background-image: linear-gradient(
		var(--grey-700), var(--grey-600), var(--silver)
	);
}

/* Tab control section */
div.tab-section {
	transition-property: border-color;
	transition-duration: 0.3s;
	padding: 5px 0 5px 0;
	cursor: pointer;
}

/* Tab control label section */
label.section-text {
	transition-property: color, text-shadow;
	text-shadow: 0 0 6px var(--black);
	transform: translateY(1px);
	transition-duration: 0.3s;
	display: inline-block;
	color: var(--white);
	font-family: Arial;
	cursor: pointer;
	font-size: 14px;
}

/* Tab control content */
div.tab-content {
	overflow-y: hidden;
	height: 100%;
}
