<body>
	<!--Add equipment formulary-->
	<div class = "add-equipment">
		<!--Equipment fields-->
		<div class = "equipment-form formulary">
			<!--Equipment fieldset-->
			<fieldset>
				<!--Title-->
				<legend><label>Equipment</label></legend>
				<!--Equipment reference-->
				<div class = "equipment-ref form-container">
					<!--Equipment reference input field-->
					<div class = "eq-ref form-field">
						<!--Equipment reference text input-->
						<input
							title = "Enter the equipment reference."
							placeholder = "Reference"
							type = "text"
						/>
						<!--Clear icon-->
						<div
							title = "Completely clear the entered value."
							class = "form-cls-icon"
						>
							<svg
								style = "enable-background:new 0 0 512 512;"
								viewBox = "0 0 512 512"
								height = "20px"
								width = "20px"
							>
								<g><path d = "M256,33C132.3,33,32,133.3,32,257c0,123.7,
								100.3,224,224,224c123.7,0,224-100.3,224-224C480,133.3,
								379.7,33,256,33z M364.3,332.5c1.5,1.5,2.3,3.5,2.3,5.6c0,
								2.1-0.8,4.2-2.3,5.6l-21.6,21.7c-1.6,1.6-3.6,2.3-5.6,
								2.3c-2,0-4.1-0.8-5.6-2.3L256,289.8 l-75.4,75.7c-1.5,
								1.6-3.6,2.3-5.6,2.3c-2,
								0-4.1-0.8-5.6-2.3l-21.6-21.7c-1.5-1.5-2.3-3.5-2.3-5.6c0-2.1,
								0.8-4.2,2.3-5.6l75.7-76 l-75.9-75c-3.1-3.1-3.1-8.2,
								0-11.3l21.6-21.7c1.5-1.5,3.5-2.3,5.6-2.3c2.1,0,4.1,
								0.8,5.6,2.3l75.7,74.7l75.7-74.7 c1.5-1.5,3.5-2.3,
								5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l21.6,21.7c3.1,3.1,
								3.1,8.2,0,11.3l-75.9,75L364.3,332.5z"/></g>
							</svg>
						</div>
					</div>
					<div class = "mgs-error"><label></label></div>
				</div>
				<!--Equipement mark and model container-->
				<div class = "equipment-identity form-dual-fields">
					<!--Equipement mark-->
					<div class = "equipement-mark form-container">
						<!--Equipement mark input field-->
						<div class = "eq-mark form-field">
							<!--Equipement mark field text input-->
							<input
								title = "Give the brand of the product."
								placeholder = "Brand*"
								type = "text"
							/>
							<!--Clear icon-->
							<div
								title = "Completely clear the entered value."
								class = "form-cls-icon"
							>
								<svg
									style = "enable-background:new 0 0 512 512;"
									viewBox = "0 0 512 512"
									height = "20px"
									width = "20px"
								>
									<g><path d = "M256,33C132.3,33,32,133.3,32,257c0,
									123.7,100.3,224,224,224c123.7,0,224-100.3,224-224C480,
									133.3,379.7,33,256,33z M364.3,332.5c1.5,1.5,2.3,3.5,
									2.3,5.6c0,2.1-0.8,4.2-2.3,5.6l-21.6,21.7c-1.6,1.6-3.6,
									2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3L256,289.8 l-75.4,
									75.7c-1.5,1.6-3.6,2.3-5.6,2.3c-2,
									0-4.1-0.8-5.6-2.3l-21.6-21.7c-1.5-1.5-2.3-3.5-2.3-5.6c0-2.1,
									0.8-4.2,2.3-5.6l75.7-76 l-75.9-75c-3.1-3.1-3.1-8.2,
									0-11.3l21.6-21.7c1.5-1.5,3.5-2.3,5.6-2.3c2.1,0,4.1,
									0.8,5.6,2.3l75.7,74.7l75.7-74.7 c1.5-1.5,3.5-2.3,
									5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l21.6,21.7c3.1,3.1,
									3.1,8.2,0,11.3l-75.9,75L364.3,332.5z"/></g>
								</svg>
							</div>
						</div>
						<div class = "mgs-error"><label></label></div>
					</div>
					<!--Equipement model-->
					<div class = "equipement-model form-container">
						<!--Equipement model input field-->
						<div class = "eq-model form-field">
							<!--Equipement model type text input-->
							<input
								title = "Give the product model."
								placeholder = "Model*"
								type = "text"
							/>
							<!--Clear icon-->
							<div
								title = "Completely clear the entered value."
								class = "form-cls-icon"
							>
								<svg
									style = "enable-background:new 0 0 512 512;"
									viewBox = "0 0 512 512"
									height = "20px"
									width = "20px"
								>
									<g><path d = "M256,33C132.3,33,32,133.3,32,257c0,
									123.7,100.3,224,224,224c123.7,0,224-100.3,224-224C480,
									133.3,379.7,33,256,33z M364.3,332.5c1.5,1.5,2.3,3.5,2.3,
									5.6c0,2.1-0.8,4.2-2.3,5.6l-21.6,21.7c-1.6,1.6-3.6,
									2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3L256,289.8 l-75.4,
									75.7c-1.5,1.6-3.6,2.3-5.6,2.3c-2,
									0-4.1-0.8-5.6-2.3l-21.6-21.7c-1.5-1.5-2.3-3.5-2.3-5.6c0-2.1,
									0.8-4.2,2.3-5.6l75.7-76 l-75.9-75c-3.1-3.1-3.1-8.2,
									0-11.3l21.6-21.7c1.5-1.5,3.5-2.3,5.6-2.3c2.1,0,4.1,
									0.8,5.6,2.3l75.7,74.7l75.7-74.7 c1.5-1.5,3.5-2.3,
									5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l21.6,21.7c3.1,3.1,
									3.1,8.2,0,11.3l-75.9,75L364.3,332.5z"/></g>
								</svg>
							</div>
						</div>
						<div class = "mgs-error"><label></label></div>
					</div>
				</div>
				<!--Equipement state selection-->
				<div class = "state-selection form-container">
					<!--Equipement state selection-->
					<div class = "eq-state form-field">
						<!--Items dropdown-->
						<select
							title = "Select the initial operating state of the equipment."
						>
							<option value = "Unaffected" selected = "true">
								Unaffected
							</option>
							<option value = "Out of the park">
								Out of the park
							</option>
						</select>
						<!--Down arrow icon-->
						<div class = "form-drop-arrow">
							<svg
								viewBox = "0 0 14 8"
								width = "14px"
								height = "8px"
								fill = "none"
							>
								<path
									strokeLinejoin = "round"
									strokeLinecap = "round"
									d = "M1 1L7 7L13 1"
									strokeWidth = '2'
									stroke = "grey"
								/>
							</svg>
						</div>
					</div>
				</div>
				<!--Equipement price and buy date container-->
				<div class = "equipment-selling form-dual-fields">
					<!--Equipement price-->
					<div class = "equipement-price form-container">
						<!--Equipement price input field-->
						<div class = "eq-price form-field">
							<!--Equipement price field text input-->
							<input
								title = "Enter the purchase price of the equipment."
								placeholder = "Price*"
								type = "number"
								value = '0'
								min = '0'
							/>
							<!--Clear icon-->
							<div
								title = "Completely clear the entered value."
								class = "form-cls-icon"
							>
								<svg
									style = "enable-background:new 0 0 512 512;"
									viewBox = "0 0 512 512"
									height = "20px"
									width = "20px"
								>
									<g><path d = "M256,33C132.3,33,32,133.3,32,257c0,
									123.7,100.3,224,224,224c123.7,0,224-100.3,224-224C480,
									133.3,379.7,33,256,33z M364.3,332.5c1.5,1.5,2.3,3.5,2.3,
									5.6c0,2.1-0.8,4.2-2.3,5.6l-21.6,21.7c-1.6,1.6-3.6,
									2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3L256,289.8 l-75.4,
									75.7c-1.5,1.6-3.6,2.3-5.6,2.3c-2,
									0-4.1-0.8-5.6-2.3l-21.6-21.7c-1.5-1.5-2.3-3.5-2.3-5.6c0-2.1,
									0.8-4.2,2.3-5.6l75.7-76 l-75.9-75c-3.1-3.1-3.1-8.2,
									0-11.3l21.6-21.7c1.5-1.5,3.5-2.3,5.6-2.3c2.1,0,4.1,
									0.8,5.6,2.3l75.7,74.7l75.7-74.7 c1.5-1.5,3.5-2.3,
									5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l21.6,21.7c3.1,3.1,
									3.1,8.2,0,11.3l-75.9,75L364.3,332.5z"/></g>
								</svg>
							</div>
						</div>
						<div class = "mgs-error"><label></label></div>
					</div>
					<!--Equipement buy date-->
					<div class = "equipement-buy-date form-container">
						<!--Equipement buy date input field-->
						<div class = "eq-buy-date form-field">
							<!--Equipement buy date type text input-->
							<input
								title = "Enter the date of purchase of the product."
								placeholder = "Date of purchase*"
								type = "date"
							/>
							<!--Clear icon-->
							<div
								title = "Completely clear the entered value."
								class = "form-cls-icon"
							>
								<svg
									style = "enable-background:new 0 0 512 512;"
									viewBox = "0 0 512 512"
									height = "20px"
									width = "20px"
								>
									<g><path d = "M256,33C132.3,33,32,133.3,32,257c0,
									123.7,100.3,224,224,224c123.7,0,224-100.3,224-224C480,
									133.3,379.7,33,256,33z M364.3,332.5c1.5,1.5,2.3,3.5,2.3,
									5.6c0,2.1-0.8,4.2-2.3,5.6l-21.6,21.7c-1.6,1.6-3.6,
									2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3L256,289.8 l-75.4,
									75.7c-1.5,1.6-3.6,2.3-5.6,2.3c-2,
									0-4.1-0.8-5.6-2.3l-21.6-21.7c-1.5-1.5-2.3-3.5-2.3-5.6c0-2.1,
									0.8-4.2,2.3-5.6l75.7-76 l-75.9-75c-3.1-3.1-3.1-8.2,
									0-11.3l21.6-21.7c1.5-1.5,3.5-2.3,5.6-2.3c2.1,0,4.1,
									0.8,5.6,2.3l75.7,74.7l75.7-74.7 c1.5-1.5,3.5-2.3,
									5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l21.6,21.7c3.1,3.1,
									3.1,8.2,0,11.3l-75.9,75L364.3,332.5z"/></g>
								</svg>
							</div>
						</div>
						<div class = "mgs-error"><label></label></div>
					</div>
				</div>
				<!--Equipement buy state selection-->
				<div class = "buy-state-selection form-container">
					<!--Equipement buy state selection-->
					<div class = "eq-buy-state form-field">
						<!--Items dropdown-->
						<select title = "Select the equipment purchase status.">
							<option value = "New"><label>New</label></option>
							<option value = "Occasion"><label>Occasion</label></option>
						</select>
						<!--Down arrow icon-->
						<div class = "form-drop-arrow">
							<svg
								viewBox = "0 0 14 8"
								width = "14px"
								height = "8px"
								fill = "none"
							>
							  <path
									strokeLinejoin = "round"
									strokeLinecap = "round"
									d = "M1 1L7 7L13 1"
									strokeWidth = '2'
									stroke = "grey"
								/>
							</svg>
						</div>
					</div>
				</div>
				<!--Technique description-->
				<div class = "technic-description form-container">
					<!--Technique description input field-->
					<div class = "technic-report form-field">
						<!--Technique report textarea-->
						<textarea
							title = "Describe technical characteristics of the equipment."
							placeholder = "Technical characteristics...*"
						></textarea>
					</div>
					<div class = "mgs-error"><label></label></div>
				</div>
			</fieldset>
			<!--Provider fieldset-->
			<fieldset>
				<!--Title-->
				<legend><label>Provider<label></legend>
				<!--Name and surname container-->
				<div class = "provider-identity form-dual-fields">
					<!--Provider last name-->
					<div class = "user-name form-container">
						<!--Provider last name input field-->
						<div class = "pro-last-name form-field">
							<!--Provider last name text input-->
							<input 
								title = "Enter the name of the equipment supplier."
								placeholder = "Name*"
								type = "text"
							/>
							<!--Clear icon-->
							<div
								title = "Completely clear the entered value."
								class = "form-cls-icon"
							>
								<svg
									style = "enable-background:new 0 0 512 512;"
									viewBox = "0 0 512 512"
									height = "20px"
									width = "20px"
								>
									<g><path d = "M256,33C132.3,33,32,133.3,32,257c0,
									123.7,100.3,224,224,224c123.7,0,224-100.3,224-224C480,
									133.3,379.7,33,256,33z M364.3,332.5c1.5,1.5,2.3,3.5,2.3,
									5.6c0,2.1-0.8,4.2-2.3,5.6l-21.6,21.7c-1.6,1.6-3.6,
									2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3L256,289.8 l-75.4,
									75.7c-1.5,1.6-3.6,2.3-5.6,2.3c-2,
									0-4.1-0.8-5.6-2.3l-21.6-21.7c-1.5-1.5-2.3-3.5-2.3-5.6c0-2.1,
									0.8-4.2,2.3-5.6l75.7-76 l-75.9-75c-3.1-3.1-3.1-8.2,
									0-11.3l21.6-21.7c1.5-1.5,3.5-2.3,5.6-2.3c2.1,0,4.1,
									0.8,5.6,2.3l75.7,74.7l75.7-74.7 c1.5-1.5,3.5-2.3,
									5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l21.6,21.7c3.1,3.1,
									3.1,8.2,0,11.3l-75.9,75L364.3,332.5z"/></g>
								</svg>
							</div>
						</div>
						<div class = "mgs-error"><label></label></div>
					</div>
					<!--Provider surname-->
					<div class = "provider-surname form-container">
						<!--Provider first name input field-->
						<div class = "pro-first-name form-field">
							<!--Provider first name text input-->
							<input
								title = "Enter the first name(s) of the supplier"
								placeholder = "Surname(s)*"
								type = "text"
							/>
							<!--Clear icon-->
							<div
								title = "Completely clear the entered value."
								class = "form-cls-icon"
							>
								<svg
									style = "enable-background:new 0 0 512 512;"
									viewBox = "0 0 512 512"
									height = "20px"
									width = "20px"
								>
									<g><path d = "M256,33C132.3,33,32,133.3,32,257c0,
									123.7,100.3,224,224,224c123.7,0,224-100.3,224-224C480,
									133.3,379.7,33,256,33z M364.3,332.5c1.5,1.5,2.3,3.5,
									2.3,5.6c0,2.1-0.8,4.2-2.3,5.6l-21.6,21.7c-1.6,1.6-3.6,
									2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3L256,289.8 l-75.4,
									75.7c-1.5,1.6-3.6,2.3-5.6,2.3c-2,
									0-4.1-0.8-5.6-2.3l-21.6-21.7c-1.5-1.5-2.3-3.5-2.3-5.6c0-2.1,
									0.8-4.2,2.3-5.6l75.7-76 l-75.9-75c-3.1-3.1-3.1-8.2,
									0-11.3l21.6-21.7c1.5-1.5,3.5-2.3,5.6-2.3c2.1,0,4.1,
									0.8,5.6,2.3l75.7,74.7l75.7-74.7 c1.5-1.5,3.5-2.3,
									5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l21.6,21.7c3.1,3.1,
									3.1,8.2,0,11.3l-75.9,75L364.3,332.5z"/></g>
								</svg>
							</div>
						</div>
						<div class = "mgs-error"><label></label></div>
					</div>
				</div>
				<!--Provider address-->
				<div class = "provider-address form-container">
					<!--Provider address input field-->
					<div class = "pro-address form-field">
						<!--Provider address text input-->
						<input
							title = "Enter the address of the product supplier."
							placeholder = "Address*"
							type = "text"
						/>
						<!--Clear icon-->
						<div
							title = "Completely clear the entered value."
							class = "form-cls-icon"
						>
							<svg
								style = "enable-background:new 0 0 512 512;"
								viewBox = "0 0 512 512"
								height = "20px"
								width = "20px"
							>
								<g><path d = "M256,33C132.3,33,32,133.3,32,257c0,
								123.7,100.3,224,224,224c123.7,0,224-100.3,224-224C480,
								133.3,379.7,33,256,33z M364.3,332.5c1.5,1.5,2.3,3.5,2.3,
								5.6c0,2.1-0.8,4.2-2.3,5.6l-21.6,21.7c-1.6,1.6-3.6,
								2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3L256,289.8 l-75.4,
								75.7c-1.5,1.6-3.6,2.3-5.6,2.3c-2,
								0-4.1-0.8-5.6-2.3l-21.6-21.7c-1.5-1.5-2.3-3.5-2.3-5.6c0-2.1,
								0.8-4.2,2.3-5.6l75.7-76 l-75.9-75c-3.1-3.1-3.1-8.2,
								0-11.3l21.6-21.7c1.5-1.5,3.5-2.3,5.6-2.3c2.1,0,4.1,
								0.8,5.6,2.3l75.7,74.7l75.7-74.7 c1.5-1.5,3.5-2.3,
								5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l21.6,21.7c3.1,3.1,
								3.1,8.2,0,11.3l-75.9,75L364.3,332.5z"/></g>
							</svg>
						</div>
					</div>
					<div class = "mgs-error"><label></label></div>
				</div>
				<!--Provider phone number-->
				<div class = "provider-phone form-container">
					<!--Provider phone number input field-->
					<div class = "pro-phone form-field">
						<!--Provider phone number text input-->
						<input
							title = "Provide supplier contact information."
							placeholder = "Phone number*"
							maxlength = '8'
							type = "tel"
						/>
						<!--Clear icon-->
						<div
							title = "Completely clear the entered value."
							class = "form-cls-icon"
						>
							<svg
								style = "enable-background:new 0 0 512 512;"
								viewBox = "0 0 512 512"
								height = "20px"
								width = "20px"
							>
								<g><path d = "M256,33C132.3,33,32,133.3,32,257c0,
								123.7,100.3,224,224,224c123.7,0,224-100.3,224-224C480,
								133.3,379.7,33,256,33z M364.3,332.5c1.5,1.5,2.3,
								3.5,2.3,5.6c0,2.1-0.8,4.2-2.3,5.6l-21.6,21.7c-1.6,
								1.6-3.6,2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3L256,
								289.8 l-75.4,75.7c-1.5,1.6-3.6,2.3-5.6,2.3c-2,
								0-4.1-0.8-5.6-2.3l-21.6-21.7c-1.5-1.5-2.3-3.5-2.3-5.6c0-2.1,
								0.8-4.2,2.3-5.6l75.7-76 l-75.9-75c-3.1-3.1-3.1-8.2,
								0-11.3l21.6-21.7c1.5-1.5,3.5-2.3,5.6-2.3c2.1,0,4.1,
								0.8,5.6,2.3l75.7,74.7l75.7-74.7 c1.5-1.5,3.5-2.3,
								5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l21.6,21.7c3.1,3.1,
								3.1,8.2,0,11.3l-75.9,75L364.3,332.5z"/></g>
							</svg>
						</div>
					</div>
					<div class = "mgs-error"><label></label></div>
				</div>
			</fieldset>
		</div>
	</div>
</body>
