<body>
	<script type = "text/javascript" src = "./vendors/resize_sensor.js"></script>
	<script type = "text/javascript" src = "./vendors/interact.js"></script>
	<script type = "text/javascript" src = "./vendors/underscore.js"></script>
	<script type = "text/javascript" src = "./vendors/basics_tools.js"></script>
	<script type = "text/javascript" src = "./js/widget_popup.js"></script>
	<script type = "text/javascript" src = "./js/tabcontrol.js"></script>
	<script type = "text/javascript" src = "./js/data_card.js"></script>
	<script type = "text/javascript" src = "./js/message_box.js"></script>
	<script type = "text/javascript" src = "./js/crud_view.js"></script>
	<script type = "text/javascript" src = "./js/index.js"></script>
</body>
