<body>
	<!--Generic task section-->
	<div class = "generic-task formulary">
		<!--Service reference-->
		<div class = "service-ref form-container face-off">
			<!--Service reference input field-->
			<div class = "serv-ref form-field">
				<!--Provided service reference text input-->
				<input type = "text" placeholder = "Référence" title = "Renseignez la référence du service."/>
				<!--Clear icon-->
				<div class = "form-cls-icon" title = "Effacer complètement la valeur saisie.">
					<svg height = "20px" style = "enable-background:new 0 0 512 512;" viewBox = "0 0 512 512" width = "20px">
						<g><path d = "M256,33C132.3,33,32,133.3,32,257c0,123.7,100.3,224,224,224c123.7,
						0,224-100.3,224-224C480,133.3,379.7,33,256,33z M364.3,332.5c1.5,1.5,2.3,3.5,2.3,
						5.6c0,2.1-0.8,4.2-2.3,5.6l-21.6,21.7c-1.6,1.6-3.6,2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3L256,
						289.8 l-75.4,75.7c-1.5,1.6-3.6,2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3l-21.6-21.7c-1.5-1.5-2.3-3.5-2.3-5.6c0-2.1,
						0.8-4.2,2.3-5.6l75.7-76 l-75.9-75c-3.1-3.1-3.1-8.2,0-11.3l21.6-21.7c1.5-1.5,
						3.5-2.3,5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l75.7,74.7l75.7-74.7 c1.5-1.5,3.5-2.3,
						5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l21.6,21.7c3.1,3.1,3.1,8.2,0,11.3l-75.9,75L364.3,332.5z"/></g>
					</svg>
				</div>
			</div><div class = "mgs-error"><label></label></div>
		</div>
		<!--Service provider and type container-->
		<div class = "service-identity form-dual-fields face-off">
			<!--Service provider-->
			<div class = "service-provider form-container">
				<!--Service provider input field-->
				<div class = "serv-provider form-field">
					<!--Service provider field text input-->
					<input type = "text" placeholder = "Prestataire*" title = "Renseignez le prestatire du service."/>
					<!--Clear icon-->
					<div class = "form-cls-icon" title = "Effacer complètement la valeur saisie.">
						<svg height = "20px" style = "enable-background:new 0 0 512 512;" viewBox = "0 0 512 512" width = "20px">
							<g><path d = "M256,33C132.3,33,32,133.3,32,257c0,123.7,100.3,224,224,224c123.7,
							0,224-100.3,224-224C480,133.3,379.7,33,256,33z M364.3,332.5c1.5,1.5,2.3,3.5,2.3,
							5.6c0,2.1-0.8,4.2-2.3,5.6l-21.6,21.7c-1.6,1.6-3.6,2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3L256,
							289.8 l-75.4,75.7c-1.5,1.6-3.6,2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3l-21.6-21.7c-1.5-1.5-2.3-3.5-2.3-5.6c0-2.1,
							0.8-4.2,2.3-5.6l75.7-76 l-75.9-75c-3.1-3.1-3.1-8.2,0-11.3l21.6-21.7c1.5-1.5,
							3.5-2.3,5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l75.7,74.7l75.7-74.7 c1.5-1.5,3.5-2.3,
							5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l21.6,21.7c3.1,3.1,3.1,8.2,0,11.3l-75.9,75L364.3,332.5z"/></g>
						</svg>
					</div>
				</div><div class = "mgs-error"><label></label></div>
			</div>
			<!--Service type-->
			<div class = "service-type form-container">
				<!--Service type input field-->
				<div class = "serv-type form-field">
					<!--Provided service type text input-->
					<input type = "text" placeholder = "Type*" title = "Renseignez le type de service fournit."/>
					<!--Clear icon-->
					<div class = "form-cls-icon" title = "Effacer complètement la valeur saisie.">
						<svg height = "20px" style = "enable-background:new 0 0 512 512;" viewBox = "0 0 512 512" width = "20px">
							<g><path d = "M256,33C132.3,33,32,133.3,32,257c0,123.7,100.3,224,224,224c123.7,
							0,224-100.3,224-224C480,133.3,379.7,33,256,33z M364.3,332.5c1.5,1.5,2.3,3.5,2.3,
							5.6c0,2.1-0.8,4.2-2.3,5.6l-21.6,21.7c-1.6,1.6-3.6,2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3L256,
							289.8 l-75.4,75.7c-1.5,1.6-3.6,2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3l-21.6-21.7c-1.5-1.5-2.3-3.5-2.3-5.6c0-2.1,
							0.8-4.2,2.3-5.6l75.7-76 l-75.9-75c-3.1-3.1-3.1-8.2,0-11.3l21.6-21.7c1.5-1.5,
							3.5-2.3,5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l75.7,74.7l75.7-74.7 c1.5-1.5,3.5-2.3,
							5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l21.6,21.7c3.1,3.1,3.1,8.2,0,11.3l-75.9,75L364.3,332.5z"/></g>
						</svg>
					</div>
				</div><div class = "mgs-error"><label></label></div>
			</div>
		</div>
		<!--Service address-->
		<div class = "service-address form-container face-off">
			<!--Service address input field-->
			<div class = "serv-address form-field">
				<!--Provided service address text input-->
				<input type = "text" placeholder = "Addresse*" title = "Renseignez l'addresse du service fournit."/>
				<!--Clear icon-->
				<div class = "form-cls-icon" title = "Effacer complètement la valeur saisie.">
					<svg height = "20px" style = "enable-background:new 0 0 512 512;" viewBox = "0 0 512 512" width = "20px">
						<g><path d = "M256,33C132.3,33,32,133.3,32,257c0,123.7,100.3,224,224,224c123.7,
						0,224-100.3,224-224C480,133.3,379.7,33,256,33z M364.3,332.5c1.5,1.5,2.3,3.5,2.3,
						5.6c0,2.1-0.8,4.2-2.3,5.6l-21.6,21.7c-1.6,1.6-3.6,2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3L256,
						289.8 l-75.4,75.7c-1.5,1.6-3.6,2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3l-21.6-21.7c-1.5-1.5-2.3-3.5-2.3-5.6c0-2.1,
						0.8-4.2,2.3-5.6l75.7-76 l-75.9-75c-3.1-3.1-3.1-8.2,0-11.3l21.6-21.7c1.5-1.5,
						3.5-2.3,5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l75.7,74.7l75.7-74.7 c1.5-1.5,3.5-2.3,
						5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l21.6,21.7c3.1,3.1,3.1,8.2,0,11.3l-75.9,75L364.3,332.5z"/></g>
					</svg>
				</div>
			</div><div class = "mgs-error"><label></label></div>
		</div>
		<!--Name and surname container-->
		<div class = "user-identity form-dual-fields face-off">
			<!--User name-->
			<div class = "user-name form-container">
				<!--User last name input field-->
				<div class = "last-name form-field">
					<!--User last name text input-->
					<input type = "text" placeholder = "Nom*" title = "Renseignez le nom de l'utilisateur."/>
					<!--Clear icon-->
					<div class = "form-cls-icon" title = "Effacer complètement la valeur saisie.">
						<svg height = "20px" style = "enable-background:new 0 0 512 512;" viewBox = "0 0 512 512" width = "20px">
							<g><path d = "M256,33C132.3,33,32,133.3,32,257c0,123.7,100.3,224,224,224c123.7,
							0,224-100.3,224-224C480,133.3,379.7,33,256,33z M364.3,332.5c1.5,1.5,2.3,3.5,2.3,
							5.6c0,2.1-0.8,4.2-2.3,5.6l-21.6,21.7c-1.6,1.6-3.6,2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3L256,
							289.8 l-75.4,75.7c-1.5,1.6-3.6,2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3l-21.6-21.7c-1.5-1.5-2.3-3.5-2.3-5.6c0-2.1,
							0.8-4.2,2.3-5.6l75.7-76 l-75.9-75c-3.1-3.1-3.1-8.2,0-11.3l21.6-21.7c1.5-1.5,
							3.5-2.3,5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l75.7,74.7l75.7-74.7 c1.5-1.5,3.5-2.3,
							5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l21.6,21.7c3.1,3.1,3.1,8.2,0,11.3l-75.9,75L364.3,332.5z"/></g>
						</svg>
					</div>
				</div><div class = "mgs-error"><label></label></div>
			</div>
			<!--User surname-->
			<div class = "user-surname form-container">
				<!--User first name input field-->
				<div class = "first-name form-field">
					<!--User first name text input-->
					<input type = "text" placeholder = "Prénom(s)*" title = "Renseignez le(s) prénom(s) de l'utilisateur."/>
					<!--Clear icon-->
					<div class = "form-cls-icon" title = "Effacer complètement la valeur saisie.">
						<svg height = "20px" style = "enable-background:new 0 0 512 512;" viewBox = "0 0 512 512" width = "20px">
							<g><path d = "M256,33C132.3,33,32,133.3,32,257c0,123.7,100.3,224,224,224c123.7,
							0,224-100.3,224-224C480,133.3,379.7,33,256,33z M364.3,332.5c1.5,1.5,2.3,3.5,2.3,
							5.6c0,2.1-0.8,4.2-2.3,5.6l-21.6,21.7c-1.6,1.6-3.6,2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3L256,
							289.8 l-75.4,75.7c-1.5,1.6-3.6,2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3l-21.6-21.7c-1.5-1.5-2.3-3.5-2.3-5.6c0-2.1,
							0.8-4.2,2.3-5.6l75.7-76 l-75.9-75c-3.1-3.1-3.1-8.2,0-11.3l21.6-21.7c1.5-1.5,
							3.5-2.3,5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l75.7,74.7l75.7-74.7 c1.5-1.5,3.5-2.3,
							5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l21.6,21.7c3.1,3.1,3.1,8.2,0,11.3l-75.9,75L364.3,332.5z"/></g>
						</svg>
					</div>
				</div><div class = "mgs-error"><label></label></div>
			</div>
		</div>
		<!--User address-->
		<div class = "user-address form-container face-off">
			<!--User address input field-->
			<div class = "guest-address form-field">
				<!--User address text input-->
				<input type = "text" placeholder = "Addresse*" title = "Renseignez l'addresse de l'utilisateur."/>
				<!--Clear icon-->
				<div class = "form-cls-icon" title = "Effacer complètement la valeur saisie.">
					<svg height = "20px" style = "enable-background:new 0 0 512 512;" viewBox = "0 0 512 512" width = "20px">
						<g><path d = "M256,33C132.3,33,32,133.3,32,257c0,123.7,100.3,224,224,224c123.7,
						0,224-100.3,224-224C480,133.3,379.7,33,256,33z M364.3,332.5c1.5,1.5,2.3,3.5,2.3,
						5.6c0,2.1-0.8,4.2-2.3,5.6l-21.6,21.7c-1.6,1.6-3.6,2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3L256,
						289.8 l-75.4,75.7c-1.5,1.6-3.6,2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3l-21.6-21.7c-1.5-1.5-2.3-3.5-2.3-5.6c0-2.1,
						0.8-4.2,2.3-5.6l75.7-76 l-75.9-75c-3.1-3.1-3.1-8.2,0-11.3l21.6-21.7c1.5-1.5,
						3.5-2.3,5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l75.7,74.7l75.7-74.7 c1.5-1.5,3.5-2.3,
						5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l21.6,21.7c3.1,3.1,3.1,8.2,0,11.3l-75.9,75L364.3,332.5z"/></g>
					</svg>
				</div>
			</div><div class = "mgs-error"><label></label></div>
		</div>
		<!--Element selection-->
		<div class = "combobox form-container face-off">
			<!--Task item selection-->
			<div class = "dropdown form-field">
				<!--Items dropdown-->
				<select title = "Sélectionner l'équipement de votre choix.">
					<option id = "Aucun" value = "Aucun" name = ''>Aucun</option>
				</select>
				<!--Down arrow icon-->
				<div class = "form-drop-arrow">
					<svg width = "14px" height = "8px" viewBox = "0 0 14 8" fill = "none">
					    <path d = "M1 1L7 7L13 1" stroke = "grey" strokeWidth = '2' strokeLinecap = "round" strokeLinejoin = "round"/>
					</svg>
				</div>
			</div><div class = "mgs-error"><label></label></div>
		</div>
		<!--Element id-->
		<div class = "item-id form-container face-off">
			<!--Item id input field-->
			<div class = "element-id form-field field-disabled">
				<!--Item id text input-->
				<input type = "text" placeholder = "ID*" title = "Contient l'identifiant de l'équipement." disabled = "true"/>
				<!--Clipboard icon-->
				<div class = "form-cpd-icon" title = "Copier l'identifiant généré dans le presse-papier.">
					<svg height = "20px" viewBox = "0 0 512 512" width = "20px" fill = "grey">
						<g><g><path d = "M160,160h192c-1.7-20-9.7-35.2-27.9-40.1c-0.4-0.1-0.9-0.3-1.3-0.4c-12-3.4-20.8-7.5-20.8-20.7V78.2 
						c0-25.5-20.5-46.3-46-46.3c-25.5,0-46,20.7-46,46.3v20.6c0,13.1-8.8,17.2-20.8,20.6c-0.4,0.1-0.9,0.4-1.4,0.5 
						C169.6,124.8,161.9,140,160,160z M256,64.4c7.6,0,13.8,6.2,13.8,13.8c0,7.7-6.2,13.8-13.8,13.8c-7.6,
						0-13.8-6.2-13.8-13.8 C242.2,70.6,248.4,64.4,256,64.4z"/><path d = "M404.6,63H331v14.5c0,10.6,8.7,18.5,19,
						18.5h37.2c6.7,0,12.1,5.7,12.4,12.5l0.1,327.2c-0.3,6.4-5.3,11.6-11.5,12.1 l-264.4,
						0.1c-6.2-0.5-11.1-5.7-11.5-12.1l-0.1-327.3c0.3-6.8,5.9-12.5,12.5-12.5H162c10.3,0,19-7.9,19-18.5V63h-73.6 
						C92.3,63,80,76.1,80,91.6V452c0,15.5,12.3,28,27.4,28H256h148.6c15.1,0,27.4-12.5,27.4-28V91.6C432,76.1,419.7,
						63,404.6,63z"/></g><rect height = "16" width = "112" x = "144" y = "192"/><rect height = "16" width = "160"
						x = "144" y = "288"/><rect height = "16" width = "129" x = "144" y = "384"/><rect height = "16" width = "176"
						x = "144" y = "336"/><rect height = "16" width = "208" x = "144" y = "240"/></g>
					</svg>
				</div>
			</div>
		</div>
		<!--Problem date-->
		<div class = "problem-date form-container face-off">
			<!--Bug date input field-->
			<div class = "bug-date form-field">
				<!--Problem date text input-->
				<input type = "date" placeholder = "Date du problème*" title = "Renseignez la date du problème constaté."/>
				<!--Clear icon-->
				<div class = "form-cls-icon" title = "Effacer complètement la valeur saisie.">
					<svg height = "20px" style = "enable-background:new 0 0 512 512;" viewBox = "0 0 512 512" width = "20px">
						<g><path d = "M256,33C132.3,33,32,133.3,32,257c0,123.7,100.3,224,224,224c123.7,
						0,224-100.3,224-224C480,133.3,379.7,33,256,33z M364.3,332.5c1.5,1.5,2.3,3.5,2.3,
						5.6c0,2.1-0.8,4.2-2.3,5.6l-21.6,21.7c-1.6,1.6-3.6,2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3L256,
						289.8 l-75.4,75.7c-1.5,1.6-3.6,2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3l-21.6-21.7c-1.5-1.5-2.3-3.5-2.3-5.6c0-2.1,
						0.8-4.2,2.3-5.6l75.7-76 l-75.9-75c-3.1-3.1-3.1-8.2,0-11.3l21.6-21.7c1.5-1.5,
						3.5-2.3,5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l75.7,74.7l75.7-74.7 c1.5-1.5,3.5-2.3,
						5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l21.6,21.7c3.1,3.1,3.1,8.2,0,11.3l-75.9,75L364.3,332.5z"/></g>
					</svg>
				</div>
			</div><div class = "mgs-error"><label></label></div>
		</div>
		<!--Solution date-->
		<div class = "answer-date form-container face-off">
			<!--Solve date input field-->
			<div class = "solve-date form-field">
				<!--Answer date text input-->
				<input type = "date" placeholder = "Date de résolution*" title = "Renseignez la date de résolution du problème."/>
				<!--Clear icon-->
				<div class = "form-cls-icon" title = "Effacer complètement la valeur saisie.">
					<svg height = "20px" style = "enable-background:new 0 0 512 512;" viewBox = "0 0 512 512" width = "20px">
						<g><path d = "M256,33C132.3,33,32,133.3,32,257c0,123.7,100.3,224,224,224c123.7,
						0,224-100.3,224-224C480,133.3,379.7,33,256,33z M364.3,332.5c1.5,1.5,2.3,3.5,2.3,
						5.6c0,2.1-0.8,4.2-2.3,5.6l-21.6,21.7c-1.6,1.6-3.6,2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3L256,
						289.8 l-75.4,75.7c-1.5,1.6-3.6,2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3l-21.6-21.7c-1.5-1.5-2.3-3.5-2.3-5.6c0-2.1,
						0.8-4.2,2.3-5.6l75.7-76 l-75.9-75c-3.1-3.1-3.1-8.2,0-11.3l21.6-21.7c1.5-1.5,
						3.5-2.3,5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l75.7,74.7l75.7-74.7 c1.5-1.5,3.5-2.3,
						5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l21.6,21.7c3.1,3.1,3.1,8.2,0,11.3l-75.9,75L364.3,332.5z"/></g>
					</svg>
				</div>
			</div><div class = "mgs-error"><label></label></div>
		</div>
		<!--Unassign date-->
		<div class = "unssign-date form-container face-off">
			<!--Canceling date input field-->
			<div class = "cancel-date form-field">
				<!--Unassign date text input-->
				<input type = "date" placeholder = "Date de retrait*" title = "Renseignez la date de retrait (utilisateur/service)."/>
				<!--Clear icon-->
				<div class = "form-cls-icon" title = "Effacer complètement la valeur saisie.">
					<svg height = "20px" style = "enable-background:new 0 0 512 512;" viewBox = "0 0 512 512" width = "20px">
						<g><path d = "M256,33C132.3,33,32,133.3,32,257c0,123.7,100.3,224,224,224c123.7,
						0,224-100.3,224-224C480,133.3,379.7,33,256,33z M364.3,332.5c1.5,1.5,2.3,3.5,2.3,
						5.6c0,2.1-0.8,4.2-2.3,5.6l-21.6,21.7c-1.6,1.6-3.6,2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3L256,
						289.8 l-75.4,75.7c-1.5,1.6-3.6,2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3l-21.6-21.7c-1.5-1.5-2.3-3.5-2.3-5.6c0-2.1,
						0.8-4.2,2.3-5.6l75.7-76 l-75.9-75c-3.1-3.1-3.1-8.2,0-11.3l21.6-21.7c1.5-1.5,
						3.5-2.3,5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l75.7,74.7l75.7-74.7 c1.5-1.5,3.5-2.3,
						5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l21.6,21.7c3.1,3.1,3.1,8.2,0,11.3l-75.9,75L364.3,332.5z"/></g>
					</svg>
				</div>
			</div><div class = "mgs-error"><label></label></div>
		</div>
		<!--Starting and ending date container-->
		<div class = "task-identity form-dual-fields face-off">
			<!--Begining date-->
			<div class = "begin-date form-container">
				<!--Starting date input field-->
				<div class = "start-date form-field">
					<!--Begining date text input-->
					<input type = "date" placeholder = "Date d'affectation*" title = "Renseignez la date d'affectation."/>
					<!--Clear icon-->
					<div class = "form-cls-icon" title = "Effacer complètement la valeur saisie.">
						<svg height = "20px" style = "enable-background:new 0 0 512 512;" viewBox = "0 0 512 512" width = "20px">
							<g><path d = "M256,33C132.3,33,32,133.3,32,257c0,123.7,100.3,224,224,224c123.7,
							0,224-100.3,224-224C480,133.3,379.7,33,256,33z M364.3,332.5c1.5,1.5,2.3,3.5,2.3,
							5.6c0,2.1-0.8,4.2-2.3,5.6l-21.6,21.7c-1.6,1.6-3.6,2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3L256,
							289.8 l-75.4,75.7c-1.5,1.6-3.6,2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3l-21.6-21.7c-1.5-1.5-2.3-3.5-2.3-5.6c0-2.1,
							0.8-4.2,2.3-5.6l75.7-76 l-75.9-75c-3.1-3.1-3.1-8.2,0-11.3l21.6-21.7c1.5-1.5,
							3.5-2.3,5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l75.7,74.7l75.7-74.7 c1.5-1.5,3.5-2.3,
							5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l21.6,21.7c3.1,3.1,3.1,8.2,0,11.3l-75.9,75L364.3,332.5z"/></g>
						</svg>
					</div>
				</div><div class = "mgs-error"><label></label></div>
			</div>
			<!--Ending date-->
			<div class = "end-date form-container">
				<!--End date input field-->
				<div class = "ending-date form-field">
					<!--Ending date text input-->
					<input type = "date" placeholder = "Date d'expiration*" title = "Renseignez la date d'expiration ou de fin."/>
					<!--Clear icon-->
					<div class = "form-cls-icon" title = "Effacer complètement la valeur saisie.">
						<svg height = "20px" style = "enable-background:new 0 0 512 512;" viewBox = "0 0 512 512" width = "20px">
							<g><path d = "M256,33C132.3,33,32,133.3,32,257c0,123.7,100.3,224,224,224c123.7,
							0,224-100.3,224-224C480,133.3,379.7,33,256,33z M364.3,332.5c1.5,1.5,2.3,3.5,2.3,
							5.6c0,2.1-0.8,4.2-2.3,5.6l-21.6,21.7c-1.6,1.6-3.6,2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3L256,
							289.8 l-75.4,75.7c-1.5,1.6-3.6,2.3-5.6,2.3c-2,0-4.1-0.8-5.6-2.3l-21.6-21.7c-1.5-1.5-2.3-3.5-2.3-5.6c0-2.1,
							0.8-4.2,2.3-5.6l75.7-76 l-75.9-75c-3.1-3.1-3.1-8.2,0-11.3l21.6-21.7c1.5-1.5,
							3.5-2.3,5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l75.7,74.7l75.7-74.7 c1.5-1.5,3.5-2.3,
							5.6-2.3c2.1,0,4.1,0.8,5.6,2.3l21.6,21.7c3.1,3.1,3.1,8.2,0,11.3l-75.9,75L364.3,332.5z"/></g>
						</svg>
					</div>
				</div><div class = "mgs-error"><label></label></div>
			</div>
		</div>
		<!--Problem description-->
		<div class = "problem-description form-container face-off">
			<!--Problem description input field-->
			<div class = "bugs-report form-field">
				<!--Bug report textarea-->
				<textarea placeholder = "Description du probème...*" title = "Décrivez le problème constaté."></textarea>
			</div><div class = "mgs-error"><label></label></div>
		</div>
		<!--Solution description-->
		<div class = "solution-description form-container face-off">
			<!--Solve description input field-->
			<div class = "solve-report form-field">
				<!--Solve report textarea-->
				<textarea placeholder = "Description de la solution...*" title = "Décrivez la solution au problème posé."></textarea>
			</div><div class = "mgs-error"><label></label></div>
		</div>
	</div>
</body>
