<body>
	<!--History global container-->
	<div class = "equipment-history">
		<!--History provider(s) section-->
		<div class = "hproviders history-section">
			<!--Provider(s) history section-->
			<div class = "history-header">
				<!--Arrow icon-->
				<div class = "arrow-icon">
					<svg
						fill = "rgb(80, 80, 80)"
						viewBox = "0 0 512 512"
						height = "24px"
						width = "24px"
					>
						<path d = "M327.3,98.9l-2.1,1.8l-156.5,136c-5.3,
						4.6-8.6,11.5-8.6,19.2c0,7.7,3.4,14.6,8.6,19.2L324.9,
						411l2.6,2.3 c2.5,1.7,5.5,2.7,8.7,2.7c8.7,0,15.8-7.4,
						15.8-16.6h0V112.6h0c0-9.2-7.1-16.6-15.8-16.6C332.9,
						96,329.8,97.1,327.3,98.9z"/>
					</svg>
				</div>
				<div class = "text-section"><label>Provider(s)</label></div>
				<div class = "item-count"><label>0</label></div>
			</div>
			<div class = "history-content">
				<div class = "hmsg"><label>No data</label></div>
			</div>
		</div>
		<!--History user(s) section-->
		<div class = "husers history-section">
			<!--User(s) history section-->
			<div class = "history-header">
				<!--Arrow icon-->
				<div class = "arrow-icon">
					<svg
						fill = "rgb(80, 80, 80)"
						viewBox = "0 0 512 512"
						height = "24px"
						width = "24px"
					>
						<path d = "M327.3,98.9l-2.1,1.8l-156.5,136c-5.3,
						4.6-8.6,11.5-8.6,19.2c0,7.7,3.4,14.6,8.6,19.2L324.9,
						411l2.6,2.3 c2.5,1.7,5.5,2.7,8.7,2.7c8.7,0,15.8-7.4,
						15.8-16.6h0V112.6h0c0-9.2-7.1-16.6-15.8-16.6C332.9,
						96,329.8,97.1,327.3,98.9z"/>
					</svg>
				</div>
				<div class = "text-section"><label>User(s)</label></div>
				<div class = "item-count"><label>0</label></div>
			</div>
			<div class = "history-content">
				<div class = "hmsg"><label>No data</label></div>
			</div>
		</div>
		<!--History problems(s) section-->
		<div class = "hbugs history-section">
			<!--Bug(s) history section-->
			<div class = "history-header">
				<!--Arrow icon-->
				<div class = "arrow-icon">
					<svg
						fill = "rgb(80, 80, 80)"
						viewBox = "0 0 512 512"
						height = "24px"
						width = "24px"
					>
						<path d = "M327.3,98.9l-2.1,1.8l-156.5,
						136c-5.3,4.6-8.6,11.5-8.6,19.2c0,7.7,
						3.4,14.6,8.6,19.2L324.9,411l2.6,2.3 c2.5,
						1.7,5.5,2.7,8.7,2.7c8.7,0,15.8-7.4,
						15.8-16.6h0V112.6h0c0-9.2-7.1-16.6-15.8-16.6C332.9,
						96,329.8,97.1,327.3,98.9z"/>
					</svg>
				</div>
				<div class = "text-section"><label>Problem(s)</label></div>
				<div class = "item-count"><label>0</label></div>
			</div>
			<div class = "history-content">
				<div class = "hmsg"><label>No data</label></div>
			</div>
		</div>
		<!--History solve(s) section-->
		<div class = "hsolves history-section">
			<!--Solution(s) history section-->
			<div class = "history-header">
				<!--Arrow icon-->
				<div class = "arrow-icon">
					<svg
						fill = "rgb(80, 80, 80)"
						viewBox = "0 0 512 512"
						height = "24px"
						width = "24px"
					>
						<path d = "M327.3,98.9l-2.1,1.8l-156.5,
						136c-5.3,4.6-8.6,11.5-8.6,19.2c0,7.7,
						3.4,14.6,8.6,19.2L324.9,411l2.6,2.3 c2.5,
						1.7,5.5,2.7,8.7,2.7c8.7,0,15.8-7.4,
						15.8-16.6h0V112.6h0c0-9.2-7.1-16.6-15.8-16.6C332.9,
						96,329.8,97.1,327.3,98.9z"/>
					</svg>
				</div>
				<div class = "text-section"><label>Solution(s)</label></div>
				<div class = "item-count"><label>0</label></div>
			</div>
			<div class = "history-content">
				<div class = "hmsg"><label>No data</label></div>
			</div>
		</div>
		<!--History service(s) section-->
		<div class = "hservices history-section">
			<!--Service(s) history section-->
			<div class = "history-header">
				<!--Arrow icon-->
				<div class = "arrow-icon">
					<svg
						fill = "rgb(80, 80, 80)"
						viewBox = "0 0 512 512"
						height = "24px"
						width = "24px"
					>
						<path d = "M327.3,98.9l-2.1,1.8l-156.5,
						136c-5.3,4.6-8.6,11.5-8.6,19.2c0,7.7,
						3.4,14.6,8.6,19.2L324.9,411l2.6,2.3 
						c2.5,1.7,5.5,2.7,8.7,2.7c8.7,0,15.8-7.4,
						15.8-16.6h0V112.6h0c0-9.2-7.1-16.6-15.8-16.6C332.9,
						96,329.8,97.1,327.3,98.9z"/>
					</svg>
				</div>
				<div class = "text-section"><label>Service(s)</label></div>
				<div class = "item-count"><label>0</label></div>
			</div>
			<div class = "history-content">
				<div class = "hmsg"><label>No data</label></div>
			</div>
		</div>
	</div>
	<!--Controller-->
	<script src = "../js/history.js" type = "text/javascript"></script>
</body>
