/**
* @project: It Manager - https://it-infrastructure-manager.onrender.com
* @author: Obrymec - obrymecsprinces@gmail.com
* @fileoverview: Sign in/up view stylesheet.
* @created: 2021-12-17
* @updated: 2024-05-19
* @supported: DESKTOP
* @file: sign.css
* @version: 0.0.3
*/

/* Sign in image background size adjustment */
div.img-zone img {
	position: absolute;
	size: 100%;
	z-index: 0;
}

/* Sign container */
div.sign-container {
	visibility: hidden;
	top: -100%;
}

/* Icon clearner container */
div.icon-clear {
	position: relative;
	margin-left: -32px;
	visibility: hidden;
	margin-top: 9.5px;
	z-index: 1;
}

/* Sign field zone container */
div.field-zone {
	display: flex;
}

/* Clear icon */
div.icon-clear > svg {
	position: absolute;
	cursor: pointer;
	z-index: 1;
}

/* Formulary title */
div.title > label {
	text-shadow: 0 0 10px var(--darkblue-300);
	font-family: verdana;
	color: var(--white);
	font-size: 22px;
}

/* For any icon field */
div.icon-field svg {
	position: absolute;
	margin-left: 10px;
	margin-top: 6px;
	z-index: 2;
	opacity: 0;
}

/* Sign fields */
div.sign-fields {
	background-color: var(--black-800);
	backdrop-filter: blur(0);
	justify-content: center;
	align-items: center;
	position: relative;
	display: flex;
	z-index: 0;
	opacity: 0;
}

/* Options design */
div.options {
	transform: translateY(-53.5px);
	justify-content: center;
	position: relative;
	display: flex;
	z-index: 0;
	opacity: 0;
	gap: 40px;
}

/* Inputs */
input.field {
	box-shadow: 0 0 8px var(--silver);
	padding: 5px 40px 5px 42px;
	color: var(--primary-900);
	border-radius: 30px;
	position: relative;
	outline: none;
	border: none;
	height: 30px;
	opacity: 0;
	z-index: 1;
	width: 0;
}

/* Modify placehoder */
input.field::placeholder {
	font-style: italic;
}

/* Button form */
input[type="button"] {
	transition-property: background-color, box-shadow;
	box-shadow: 0 0 1px 1px var(--silver);
	background-color: var(--primary-900);
	border: 1px solid var(--white);
	transition-duration: 0.4s;
	display: inline-block;
	padding: 5px 0 6px 0;
	color: var(--white);
	border-radius: 35px;
	font-size: 14px;
	width: 145px;
	height: 35px;
}

/* Hover effect */
input[type="button"]:hover {
	box-shadow: 0 0 2px 2px var(--slateblue-900);
	background-color: var(--slateblue-900);
}
